<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>614889609686-ureaubbvdrt9hr5mauar37hovt55qk01.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.614889609686-ureaubbvdrt9hr5mauar37hovt55qk01</string>
	<key>API_KEY</key>
	<string>AIzaSyDqWVS7izW7_Lx4fbskxmi-OwY_VAPuTvo</string>
	<key>GCM_SENDER_ID</key>
	<string>614889609686</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>studio.fullstackinterview.app</string>
	<key>PROJECT_ID</key>
	<string>fullstack-interview</string>
	<key>STORAGE_BUCKET</key>
	<string>fullstack-interview.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:614889609686:ios:e3669a0a5b9e9e5a1eec77</string>
</dict>
</plist>